body {
    font-family: 'Raleway', sans-serif;
    background: rgba(242, 242, 242, .6);
    margin: 0;
  }
  
  * {
    box-sizing: border-box
  }
  
  /*! Navbar*/
  .navbar {
    background-color: #31b0d5;
    position: fixed; 
    top: 0; 
    width: 100%; 
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #fff;
    box-shadow: 0px 25px 15px -18px rgb(202, 201, 201);
  }
  
  .navbar a {
    font-weight: 240;
    font-size: 16pt;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
  }
  .navbar a:hover{
    color: black;
  }
        .navbar a:active{
          color: whitesmoke;
        }
        /* .navbar a:visited{
          color: red;
          background: wheat;
        }
   */
  .anchor {
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
  }
  
  /*!Jumbo*/
  .jumbotron {
    height: 100vh;
    /* background: yellowgreen;  */
    background-image: url("https://pixabay.com/get/55e2d1454b50a814ea9d8d79c328337f1022dfe05455764876267dd7/background-3246124.jpg");
    /* backdrop-filter: blur(8px); */
    background-size: cover;
    margin-bottom: 0; 
    display: flex;
    flex-direction: column;
  }
  
  /*? jumbo text */
  .jumbotron-text {
    /* z-index: 2; */
    font-weight: 400;
    font-size: 2em;
    color: white;
    text-align: center;
    padding-top: 150px;
  }
  
  .jumbotron-text h1 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 3em;
    margin-bottom: 0;
  }
  
  .jumbotron-text p {
    margin: 0;
  }

  hr {
    border:none;
    height: 20px;
     width: 80%;
    height: 50px;
    border-bottom: 1px solid rgb(253, 253, 253);
    box-shadow: 0px 25px 15px -18px rgb(202, 201, 201);
    margin: -50px auto 10px; 
  }
  
  /*! Socials*/
  .ul-social {
    text-align: center;
    padding-left: 0;
  }
  .social:hover{
    color: rgba(71, 70, 70, 0.822);
  }
  
  .li-social-links {
    display: inline-block;
    list-style: none;
  }
  
  .social {
    font-size: 2em;
    color: white;
    padding: 20px;
  }
  
  /*? Arrow link*/
  #down-arrow {
    /*position: absolute;
    width: 100%;*/
    
    margin-top: auto;
    text-align: center;
    margin-bottom: 50px;
  }
  
  #down-arrow a {
    font-size: 30pt;
    color: white;
  }
  #down-arrow a:hover{
    color: rgba(71, 70, 70, 0.822);
  }
  
  /*! Contents*/
  .container {
    display: flex;
    flex-direction: column;
  }
  
  
  .row {
    display: flex;
    
  }

  /*! Footer*/
  .row-footer{
    background-color: teal;
    border-top: 2px solid whitesmoke;
    background-image: url("https://pixabay.com/get/55e2d1454b50a814ea9d8d79c328337f1022dfe05455764876267dd7/background-3246124.jpg");
    background-size: cover;
  }
  .main-content {
    /* flex: 0 0 66.6%; */
    width: 100%;
  }
 .content-body p{
    line-height: 1.5;
    /* font-size: 15pt; */
    color: rgb(248, 246, 246);
    text-align: center;
        }
  
  .white { /*? Skills section*/
    background: white;
  }
  
  .side-content {
    flex: 0 0 16.6%;
  }
  
  
  .side-content-sm {
    flex: 0 0 10%;
  }
  
  .main-content-lg {
    flex: 0 0 80%;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  
  .box-shadow {
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
  }
  
  h2 {
    font-weight: 200;
    font-size: 2rem;
    color: #31b0d5;
    text-transform: uppercase;
    text-align: center;
  }
  
  
  /*! Education*/
  .card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-bottom: 30px;
  }
  
  .card-header {
    padding: .75rem 1.25rem;
    background-color: white;
    border-bottom: 1px solid rgba(0,0,0,.075);
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
  }
  
  .card-content {
    padding: .25rem 1.25rem;
    flex: 1 1 auto;
  }
  
  h4 {
    margin: 0;
    font-weight: 400;
    color: grey;
  }
  
  .job-title {
    float: right;
  }
  
  /*! projects*/
  .project-card {
    display: flex;
    flex-direction: row;
    background-color: white;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.15);
  }
  
  .project-image {
    flex: 1 0 auto;
  }
  
  .project-image img {
    display: block;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .project-content {
    flex: 1 1 auto;
    padding: 1.25rem;
  
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  /*! Skills*/
  .ul-skills {
    text-align: center;
    padding-left: 0;
  }
  
  .li-skills {
    border: 0.7px solid rgb(90, 89, 89);
    border-radius: 8px;
    display: inline-block;
    margin: 7px;
    padding: 5px 10px;
    color: white;
    background: #31b0d5;
    list-style: none;
    cursor: default;
    font-size: 1.2em;
  }
  
  /*!Contacts*/
  .blue {
    background: #3498db;
    /* background-image: url("https://pixabay.com/get/55e2d1454b50a814ea9d8d79c328337f1022dfe05455764876267dd7/background-3246124.jpg");
    background-size: cover; */
    text-align: center;
  }
  
  .contact {
    max-width: 500px;
    margin: 0 auto;
  }
  
  .contact input, .contact textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    margin-bottom: 10px;
    background: whitesmoke;
    color: black;
    text-align: center;
    font-size: 12pt;
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  .inputlen{
    width: 400px !important;
    margin: auto !important;
    margin-bottom: 8px !important;
  }

  .contact textarea {
    height: 150px;
    resize: none;
  }
  
  .contact button {
    display: block;
    margin: auto;
    width: 50%;
    background: #fff;
    border-radius: 4px;
    padding: 5px 10px;
    border: none;
    color: #3498db;
    font-weight: 700;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  
  .white-text {
    color: white;
  }

  .actionss{
    margin: 20px;
  }

  .actionss a{
    color: wheat;
    text-decoration: none;
    font-size: 16pt;
  }

